<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= button %></title>
  </head>
  <body>
    <div>
      <a href="/">Усе про товар</a>
      <a href="/characteristics">Характеристики</a>
      <a href="/comments">Відгуки</a>
      <a href="/questions">Питання</a>
      <a href="/photo">Фото</a>
      <a href="/accessories">Купують разом</a>
    </div>
    <h1><%= button %></h1>
    <p>This is the <%= button %> page.</p>
  </body>
</html>
